<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Hello World</h2>
<h2>Katamari Cousins</h2>
<!-- this is my header or whatever if you don't put the two dashes at the end the comment will keep going until you put the two dashes at the end-->
<!--<div>
  <h1> </h1>
  <p class="none"> </p>
  <img src="https://tinyurl.com/">
</div> -->
<!--<img src="https://tinyurl.com/">-->
<div><div style="background-color:black; border-color: blue;">

    <h1>Ichigo </h1>
    <p><font color ="white"> This absolute diva loves strawberries</p>
    <img src="https://tinyurl.com/y5nu6j5d">
</div> </div>


<div>
    <div style="background-color: yellow; border-color: blue;">
        <div style="background-color: #deece3; border-color: gray;";

        <h1><font color ="Purple"> Nickel</h1>
        <p class="none"><font-color="black"> Once this robo-cousin has had his sugar frosted batteries for breakfast, nothing can stop him. <br>Except for berries  </p>
        <img src="https://tinyurl.com/y4sn4vrg">
    </div> </div> </div>


<div>
    <div style ="background-color:purple; border-color: blue;";  >
        <div style ="background-color:black; border-color: gray;">
            <h1> Dipp</h1>
            <p class="none"><font color="white"> A radical guy who loces dancing almost as much as he loves the stars.<br>Unfortunately he tends to wake the neighbors with his music. Oops!</p>
            <img src="https://tinyurl.com/y2oqfj78";>
        </div></div></div>


<div>
    <div style ="background-color:orange; border-color: blue;";  >
        <div style ="background-color: #af8593; border-color: gray;">
            <h1> Miso</h1>
            <p class="none"><font color="white"> A fun love gal who dedicates her life to soup! <br>She likes to cheer up kids with warm flavor.</p>
            <img src="https://tinyurl.com/y3bgyoag";>
        </div></div>

</body>
</html>